* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2 {
    font-family: "Bebas Neue", sans-serif;
}

.header {
    background-color: #003b5c;
    color: white;
    text-align: center;
    min-height: 100px;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;    
}

.header span {
    font-family: "Bebas Neue", sans-serif;  
    font-size:xx-large;  
    padding: 15px;
    display: block;
}

.nav {
    background-color: black;
    margin-top: auto;
    width: 100%;
    font-size:large;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: overline;
}

footer {
    background-color: #003b5c;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    grid-column: 1 / 4;    
    max-height: 100px;    
}

footer .last-modified {
    color: #ff0;
    font-size: 0.9rem;
}

main {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    max-width: 1100px; 
}

main h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

main .cards-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    background-color: #1e4b6b;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.profile.horizontal {
    display: flex;
    align-items: flex-start; 
    gap: 1rem;
    padding: 0.5rem;
}

.profile.horizontal p {
    flex: 1;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
    padding: 0.5rem;
}

.row.reverse {
    direction: rtl;
}

.row.reverse > * {
    direction: ltr;
}

.row img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

.divider {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 0.5rem;
    color: #666;
}